//pdf to image 滾動容器
.scroll-container{
    height: 500px;
    overflow-y:scroll;
    margin-top: 20px;
}

.button-group{
    button{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    .iframe-responsive {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height:100%;
    }
}



//PDF REVIEW
.react-pdf__Page__annotations ,.react-pdf__Page__textContent{
    display: none !important;
}

.react-pdf__Page > canvas{
    height: auto !important;
    max-width: 100%;
}